.header {
  display: flex;
  justify-content: space-between;
}

.header__description {
  margin-right: 30px;
}

.header__title {
  font-weight: 300;
  font-size: 20px;
  color: #282430;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
}

.header__title span {
  font-weight: 600;
}

.header__subtitle {
  font-size: 14px;
  color: #8E879E;
  height: 20px;
}

.header__title-price {
  font-size: 20px;
  font-weight: 600;
  color: #5E3BA5;
  margin: 0 10px;
}

.header__title-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__switch-text {
  font-size: 12px;
  color: #8E879E;
}

.header__search {
  width: 445px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__back-button {
  margin-right: 25px;
  padding: 0 25px;
  color: #C0C4CC;
  border-right: 1px solid #ccc;
  line-height: 0px;
}

.header__back-button svg {
  height: 100%;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.header__input {
  width: 100%;
  height: 100%;
  position: relative;
}

.header__input input {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 6px #2959B729;
  border-radius: 90px;
  border: 0;
  outline: 0;
  padding-left: 65px;
  color: #7D7D7D;
  font-size: 16px;
  z-index: 2;
}

.header__icon {
  position: absolute;
  top: 0;
  left: 15px;
  height: 100%;
  color: #C0C4CC;
  text-align: center;
  z-index: 2;
}

.header__icon svg {
  height: 100%;
  width: 24px;
  text-align: center;
}

.header__icon div {
  position: absolute;
  top: 12.5px;
  left: 35px;
  border-right: 1px solid #ccc;
  height: 25px;
  line-height: 48px;
}

.header__search-history {
  display: none;
  position: absolute;
  background: #fff;
  top: 0;
  z-index: 1;
  border-radius: 20px;
  width: 100%;
  padding: 65px 0 15px;
}

.header__search-history ul {
  list-style: none;
  padding: 0;
  color: #7D7D7D;
  line-height: 2em;
}

.header__search-history ul li {
  cursor: pointer;
}

.header__search-history ul li span {
  padding: 0 65px;
  text-transform: capitalize;
}

.header__search-history ul li:hover {
  background: rgba(0,0,0,0.1);
}

.header__input input:focus~.header__search-history,
.header__search-history:active {
  display: block;
}
