.products {
  padding-top: 71px;
  display: grid;
  grid-gap: 55px;
  grid-template-columns: repeat(auto-fill, 362px);
  justify-content: space-between;
  padding-bottom: 50px;
}

@media screen and (max-width: 1880px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1450px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  .products {
    grid-template-columns: 1fr;
  }
}
