@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  font: 400 14px Manrope, sans-serif;
  background: #f1f3f3;
  -webkit-font-smoothing: antialiased;
}

p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
}

#app {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 73px 57px 50px;
}

#app .page-container {
  width: 100%;
  margin-top: 51px;
  border-top: 1px solid #ccc;
}
