@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

html,
body,
#root {
  height: 100%;
}

body {
  font: 400 14px Manrope, sans-serif;
  background: #f1f3f3;
  -webkit-font-smoothing: antialiased;
}
